<div class="state-container">
  <img class="state-flag" src="" alt="Alabama's state flag" ng-click="" />
  <p class="state-name">Alabama</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Alaska's state flag" ng-click="" />
  <p class="state-name">Alaska</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Arizona's state flag" ng-click="" />
  <p class="state-name">Arizona</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Arkansas's state flag" ng-click="" />
  <p class="state-name">Arkansas</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="California's state flag" ng-click="" />
  <p class="state-name">California</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Colorado's state flag" ng-click="" />
  <p class="state-name">Colorado</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Connecticut's state flag" ng-click="" />
  <p class="state-name">Connecticut</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Delaware's state flag" ng-click="" />
  <p class="state-name">Delaware</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Florida's state flag" ng-click="" />
  <p class="state-name">Florida</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Georgia's state flag" ng-click="" />
  <p class="state-name">Georgia</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Hawaii's state flag" ng-click="" />
  <p class="state-name">Hawaii</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Idaho's state flag" ng-click="" />
  <p class="state-name">Idaho</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Illinois's state flag" ng-click="" />
  <p class="state-name">Illinois</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Indiana's state flag" ng-click="" />
  <p class="state-name">Indiana</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Iowa's state flag" ng-click="" />
  <p class="state-name">Iowa</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Kansas's state flag" ng-click="" />
  <p class="state-name">Kansas</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Kentucky's state flag" ng-click="" />
  <p class="state-name">Kentucky</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Louisiana's state flag" ng-click="" />
  <p class="state-name">Louisiana</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Maine's state flag" ng-click="" />
  <p class="state-name">Maine</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Maryland's state flag" ng-click="" />
  <p class="state-name">Maryland</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Massachusetts's state flag" ng-click="" />
  <p class="state-name">Massachusetts</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Michigan's state flag" ng-click="" />
  <p class="state-name">Michigan</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Minnesota's state flag" ng-click="" />
  <p class="state-name">Minnesota</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Mississippi's state flag" ng-click="" />
  <p class="state-name">Mississippi</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Missouri's state flag" ng-click="" />
  <p class="state-name">Missouri</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Montana's state flag" ng-click="" />
  <p class="state-name">Montana</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Nebraska's state flag" ng-click="" />
  <p class="state-name">Nebraska</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Nevada's state flag" ng-click="" />
  <p class="state-name">Nevada</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="New Hampshire's state flag" ng-click="" />
  <p class="state-name">New Hampshire</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="New Jersey's state flag" ng-click="" />
  <p class="state-name">New Jersey</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="New Mexico's state flag" ng-click="" />
  <p class="state-name">New Mexico</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="New York's state flag" ng-click="" />
  <p class="state-name">New York</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="North Carolina's state flag" ng-click="" />
  <p class="state-name">North Carolina</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="North Dakota's state flag" ng-click="" />
  <p class="state-name">North Dakota</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Ohio's state flag" ng-click="" />
  <p class="state-name">Ohio</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Oklahoma's state flag" ng-click="" />
  <p class="state-name">Oklahoma</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Oregon's state flag" ng-click="" />
  <p class="state-name">Oregon</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Pennsylvania's state flag" ng-click="" />
  <p class="state-name">Pennsylvania</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Rhode Island's state flag" ng-click="" />
  <p class="state-name">Rhode Island</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="South Carolina's state flag" ng-click="" />
  <p class="state-name">South Carolina</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="South Dakota's state flag" ng-click="" />
  <p class="state-name">South Dakota</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Tennessee's state flag" ng-click="" />
  <p class="state-name">Tennessee</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Texas's state flag" ng-click="" />
  <p class="state-name">Texas</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Utah's state flag" ng-click="" />
  <p class="state-name">Utah</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Vermont's state flag" ng-click="" />
  <p class="state-name">Vermont</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Virginia's state flag" ng-click="" />
  <p class="state-name">Virginia</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Washington's state flag" ng-click="" />
  <p class="state-name">Washington</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="West Virginia's state flag" ng-click="" />
  <p class="state-name">West Virginia</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Wisconsin's state flag" ng-click="" />
  <p class="state-name">Wisconsin</p>
</div>
<div class="state-container">
  <img class="state-flag" src="" alt="Wyoming's state flag" ng-click="" />
  <p class="state-name">Wyoming</p>
</div>
