.state-details-back-container {
  margin-top: 90px;
}

.state-details-card {
  display: inline-block;
  /* background-color: antiquewhite; */
  background-image: url(../../assets/images/paper.jpg);
  background-size: cover;
  border: 20px ridge brown;
  border-radius: 4px;
  width: 900px;
  padding-bottom: 30px;
  box-shadow: 10px 10px 10px grey;
}

.state-details-card-container {
  text-align: center;
}

.state-details-container {
  text-align: center;
  display: inline-block;
  animation: fadein 1.3s;
  -webkit-animation: fadein 1.3s;
}

.state-details-flag {
  height: 200px;
  width: 300px;
}

.state-details-flag-container {
  grid-area: flag;
  padding-top: 40px;
}

.state-details-grid-container {
  display: grid;
  text-align: center;
  grid-template: 'info flag';
  width: 800px;
}

.state-details-home, .state-details-next, .state-details-prev {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.state-details-home {
  margin: 0 20px;
}

.state-details-text-container {
  grid-area: info;
  text-align: left;
}

.state-details-key {
  font-weight: bold;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}