.state-details-flag {
  border: 1px solid black;
}

.state-details-container {
  text-align: center;
  display: inline-block;
  animation: fadein 1.3s;
  -webkit-animation: fadein 1.3s;
}

.state-details-flag-container {
  grid-area: flag;
  padding-top: 40px;
}

.state-details-grid-container {
  display: grid;
  text-align: center;
  grid-template: 'info flag';
  width: 800px;
}

.state-details-text-container {
  grid-area: info;
  text-align: left;
}

.state-details-key {
  font-weight: bold;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}